{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Username" %}</th>
                <th>{% translate "Full name" %}</th>
                <th>{% translate "Date of join" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{  user.id  }}</td>
                    <td>{{  user.username  }}</td>
                    <td>{{ user.first_name|add:" " |add:user.last_name }}</td>
                    <td>{{ user.date_joined|date:"d.m.Y, H:i" }}</td>
                    <td> 
                        <a href="{% url 'user-update' user.id %}">{% translate "Change" %}</a>
                        <br>
                        <a href="{% url 'user-delete' user.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}